.bg-primary {
  background-color: #9BA4B5 !important;
}

.btn-primary {
  background-color: #394867;
  border-color: #212A3E;

  &:hover{
    background-color: #212A3E;
    border-color: #9BA4B5 ;
  }
}

.input:focus{
background-color: red;
}

.chat-bot-reply{
  text-align: center;
  font-size: 24px;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
}